<!DOCTYPE html>
<html lang="pt-br">
<head>

<meta charset="UTF-8">

<title>Obrigado</title>

<style>

body{

background:#F4F6F9;
font-family:Arial;

}

.card{

width:600px;
margin:80px auto;
background:white;
padding:50px;
border-radius:12px;
box-shadow:0 0 20px rgba(0,0,0,.15);
text-align:center;

}

h1{

color:#003F82;

}

p{

font-size:18px;
color:#555;

}

</style>

</head>

<body>

<div class="card">

<h1>Obrigado!</h1>

<p>

Sua avaliação foi registrada com sucesso.

</p>

<p>

A Polícia Militar da Bahia agradece sua contribuição.

</p>

</div>

</body>

</html>