{% extends 'base.html' %}

{% block title %}Agenda de Eventos{% endblock %}

{% block content %}

<style>

.btn-voltar{
    display:inline-block;
    padding:12px 26px;
    background:#6b7280;
    color:#fff;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.25s;    }

.btn-voltar:hover{
    background:#4b5563;
    transform:translateY(-2px);
}
</style>

<div style="max-width:1000px;margin:30px auto;background:white;padding:30px;border-radius:15px;box-shadow:0 5px 18px rgba(0,0,0,.08);">

    <h1 style="color:#907C64;margin-bottom:25px;">🗓️ Agenda de Eventos</h1>

    {% for evento in eventos %}
        <div class="evento-item">

            <div class="evento-data">
                {{ evento.data_evento|date:"d/m/Y" }}
            </div>
        
            <div class="evento-nome">
                📌 {{ evento.nome_evento }}
            </div>
        
            <div class="evento-local">
                📍 {{ evento.local }}
            </div>
        
            <div class="evento-info">
        
                <span class="protocolo">
                    🔖 Protocolo: <strong>{{ evento.protocolo }}</strong>
                </span>
        
                {% if evento.status == "APROVADO" %}
        
                    <span class="status status-aprovado">
                        ✓ APROVADO
                    </span>
        
                {% elif evento.status == "CORRECAO" %}
        
                    <span class="status status-correcao">
                        ✏️ EM CORREÇÃO
                    </span>
        
                {% else %}
        
                    <span class="status">
                        {{ evento.get_status_display }}
                    </span>
        
                {% endif %}
        
            </div>
        
        </div>

      

    {% empty %}

        <p>Nenhum evento futuro cadastrado.</p>

    {% endfor %}
    <div class="acoes">
        <a href="{% url 'painel_gestao' %}" class="btn-voltar">
            ← Voltar
        </a>
    

</div>

{% endblock %}
