{% extends 'base.html' %}

{% block title %}Agenda de Eventos{% endblock %}

{% block content %}

<style>

.btn-voltar{
    display:inline-block;
    padding:12px 26px;
    background:#6b7280;
    color:#fff;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.25s;    }

.btn-voltar:hover{
    background:#4b5563;
    transform:translateY(-2px);
}
.evento-item {
    padding: 15px 18px;
    border-bottom: 1px solid #e2e2e2;
}

.evento-item:last-child {
    border-bottom: none;
}

.evento-data {
    font-weight: bold;
    margin-bottom: 4px;
}

.evento-nome {
    margin-bottom: 3px;
}

.evento-local {
    margin-bottom: 8px;
}

.evento-info {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.protocolo {
    font-size: 14px;
    color: #444;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: bold;
}

.status-aprovado {
    background: #dcfce7;
    color: #15803d;
    border: 1px solid #86efac;
}

.status-correcao {
    background: #fff7d6;
    color: #a16207;
    border: 1px solid #facc15;
}
</style>

<div style="max-width:1000px;margin:30px auto;background:white;padding:30px;border-radius:15px;box-shadow:0 5px 18px rgba(0,0,0,.08);">

    <h1 style="color:#907C64;margin-bottom:25px;">🗓️ Agenda de Eventos</h1>

    {% for evento in eventos %}
        <div class="evento-item">

            <div class="evento-data">
                {{ evento.data_evento|date:"d/m/Y" }}
            </div>
        
            <div class="evento-nome">
                📌 {{ evento.nome_evento }}
            </div>
        
            <div class="evento-local">
                📍 {{ evento.local }}
            </div>
        
            <div class="evento-info">
        
                <span class="protocolo">
                    🔖 Protocolo: <strong>{{ evento.protocolo }}</strong>
                </span>
        
                {% if evento.status == "APROVADO" %}
        
                    <span class="status status-aprovado">
                        ✓ APROVADO
                    </span>
        
                {% elif evento.status == "CORRECAO" %}
        
                    <span class="status status-correcao">
                        ✏️ EM CORREÇÃO
                    </span>
        
                {% else %}
        
                    <span class="status">
                        {{ evento.get_status_display }}
                    </span>
        
                {% endif %}
        
            </div>
        
        </div>

      

    {% empty %}

        <p>Nenhum evento futuro cadastrado.</p>

    {% endfor %}
    <div class="acoes">
        <a href="{% url 'painel_gestao' %}" class="btn-voltar">
            ← Voltar
        </a>
    

</div>

{% endblock %}
